@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ho scritto il codice prendendo a riferimento la visualizzazione del browser di iphone 14 pro Max, ma è comunque scalabile a più smartphone*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #393d41;
  line-height: 1.65;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #25a2c3;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  padding: 5rem 0 2rem;
  line-height: 1; /* l'ho cambiata per renderlo più simile al mock-up*/
}

h2 {
  color: white;
  font-size: 2rem;
  padding: 3rem 0 1rem;
}

header > div {
  background-color: black;
}

.logo {
  width: 10em;
  padding: 2.5rem 0;
}

nav {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 1.5rem;
}

nav > p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn {
  padding: 2rem 0 3rem;
}

nav button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  font-size: 1.3em;
  padding: 1.2rem 2.5rem;
}

article {
  padding: 2rem 1.5rem;
}

article h3 {
  font-size: 1.6rem;
  padding: 2rem 0 1rem;
}

article p {
  font-size: 1em;
}

.round {
  padding: 2rem 0 0;
}

article img {
  border-radius: 50%;
  width: 90%;
}

section {
  background-color: #e22d0e;
  color: white;
  margin: 2rem 0;
}

.quote {
  padding: 1rem 0;
  font-size: 1em;
  font-style: italic;
}

section p {
  padding: 1.5rem 0;
  font-size: 2rem;
}
section p span {
  display: block;
  padding: 0 0 2rem;
  font-size: 0.5em;
}

section,
aside {
  padding: 0 1.5rem;
}

aside img {
  width: 100%;
  background-position: center;
}

aside > div {
  border: 1px solid #dee1e3;
  border-radius: 6px;
  margin: 3rem 0;
}

aside h4 {
  padding: 1rem 0 0;
  font-size: 1.2em;
  font-weight: 600;
}

aside p {
  padding: 1.5rem 1.5rem 2.2rem;
  font-size: 1em;
}

footer {
  background-color: #25a2c3;
  color: white;
  margin: 5rem 0 0;
  padding: 0 1.5rem;
}

footer h2 {
  padding: 2.5rem 0 1.5rem;
}

.contacts {
  font-size: 1.2rem;
}

footer hr {
  margin: 2rem 7rem;
  border: 1px solid white;
}

footer > div > p {
  display: inline-block;
}

footer a {
  color: #c8e7f0;
}

footer a:visited {
  color: #c8e7f0;
}

.year {
  font-size: 1.1rem;
  padding: 0 0 5rem;
}
