@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #393d41;
  line-height: 1.65;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #25a2c3;
  line-height: 1.5;
}

h1 {
  font-size: 2.2rem;
  padding: 10rem 0 0;
  line-height: 1; /* l'ho cambiata per renderlo più simile al mock-up*/
}

h2 {
  color: white;
  font-size: 2rem;
  padding: 6rem 0 1rem;
}

header > div {
  background-color: black;
  text-align: left;
}

.logo {
  width: 8em;
  padding: 1.5rem 2rem;
}

nav {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 1.5rem;
}

nav > p {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1.5rem 18rem;
  font-weight: 300;
}

.btn {
  padding: 0 0 10rem;
}

nav button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  font-size: 0.7em;
  padding: 1rem 1.6rem;
}

.round {
  padding: 2rem 0 4rem 13rem;
  display: inline-block;
}

article img {
  border-radius: 50%;
  width: 100%;
}

.text-right {
  display: inline-block;
  text-align: left;
  padding: 0 4rem 0 5rem;
  width: 30%;
}

article {
  padding: 2rem 1.5rem;
}

article h3 {
  font-size: 1.2rem;
  padding: 2rem 0 1rem;
}

article p {
  font-size: 1rem;
}

section {
  background-color: #e22d0e;
  color: white;
  margin: 2rem 0;
}

.quote {
  padding: 1rem 0;
  font-size: 2rem;
  font-style: italic;
}

section p {
  padding: 1rem 0;
  font-size: 1.4rem;
}
section p span {
  display: block;
  padding: 0 0 5rem;
  font-size: 0.5em;
}

section,
aside {
  padding: 2rem 1.5rem;
}

aside img {
  width: 100%;
  background-position: center;
  height: 250px;
}

aside > div {
  border: 1px solid #dee1e3;
  border-radius: 6px;
  margin: 5rem 2rem;
  display: inline-block;
  width: 350px;
  vertical-align: top;
}

aside h4 {
  padding: 1rem 0 0;
  font-size: 1.2em;
  font-weight: 600;
}

aside p {
  padding: 1.5rem 1.5rem 2.2rem;
  font-size: 0.8em;
}

footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  margin: 5rem 0 0;
  padding: 0 1.5rem;
}

footer h2 {
  padding: 4rem 0 2rem;
  font-size: 2.5rem;
}

.contacts {
  font-size: 1rem;
  text-align: start;
  margin-left: 43%;
}

footer hr {
  width: 15%;
  border: 1px solid #c8e7f0;
}

footer > div > p {
  display: inline-block;
}

footer a {
  color: #c8e7f0;
}

footer a:visited {
  color: #c8e7f0;
}

.year {
  font-size: 0.8rem;
  padding: 2rem 0 4rem;
}
